.my-form-control {
	display: block;
	height: 1.5em;
	border: black dotted 1px;
}

#show-color {
	width: 94%;
	height: 2.4em;
	margin-top: 2em;
	color: #36393d;
	border: 2px #36393d solid;
	margin: 10px 10px 20px 10px;
}

.orange {
	background-color: #df6000;
	color: black;
}

.magenta {
	background-color: #a9309f;
	color: black;
}

.light-blue {
	background-color: #2389c7;
	color: black;
}

.yellow {
	background-color: #f0ae15;
	color: black;
}

.green {
	background-color: #5faa19;
	color: white;
}

.pink {
	background-color: #d5648e;
	color: black;
}

.gray {
	background-color: #36393d;
	color: white;
}

.light-gray {
	background-color: #5a5a53;
	color: black;
}

.aqua {
	background-color: #157788;
	color: black;
}

.purple {
	background-color: #4e1879;
	color: white;
}

.blue {
	background-color: #2c2e8e;
	color: white;
}

.brown {
	background-color: #613c20;
	color: white;
}

.red {
	background-color: #8d2020;
	color: white;
}

.black {
	background-color: #07090e;
	color: white;
}

option.valid {
	color: black;
}
.width-100 {
	width: 100%;
}

.data-display {
	width: 100%;
	height: 2.4em;
	margin-top: 2em;
	border: none;
}

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* [type=radio].radio-none {
	position: absolute;
	opacity: 100;
	width: 20px;
	height: 20px;
} */

[type=radio] + img {
	cursor: pointer;
	width: 90%;
	display: block;
	z-index: 6;
	margin: 20px;
}

img.previews {
	width: 90%;
	display: block;
	margin: 20px;
}

[type=radio]:checked + img {
	outline: 4px solid #8d2020;
}

div.radio-div {
	position: relative;
	display: block;
}

label.radio-labels {
	position: absolute;
	margin-top: 0px;
	margin-left: 25px;
	font-size: 24px;
	z-index: 10;
	width: 100%;
	height: 100%;
	color: white;
	text-shadow: 2px 2px 0 #000;
}

label.radio-none {
	position: relative;
	width: 88%;
	font-size: 16px;
}
